################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Midterm/FileContentIndex/35f18e85-656b-4932-a748-5b7fcb47e724.vsidx
